/* ***************************************************************** */
/* Common */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* ***************************************************************** */
/* Style */

body {
  font-size: 14px;
  line-height: 1.25;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.nav-list,
.post-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  font-size: 0;
}

.nav-list-item {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
}

.post-list-item {
  display: inline-block;
  width: 421px;
}

.post-tag,
.post-text,
.post-title {
  margin-top: 0;
  margin-bottom: 0;
}

.post-tag {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.post-title {
  font-size: 30px;
  line-height: 45px;
}

.post-text {
  font-size: 14px;
  line-height: 24px;
}

.btn {
  background-color: transparent;
  outline: none;
  border: 1pt solid #626262;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 34px;
  padding-right: 34px;
}
